# 3. Type Data

Data adalah komponen terpenting dalam bahasa pemrograman. Pada python, untuk deklarasi suatu variabel sangat mudah, karena variabel pada python adalah dinamis, jadi ketika memasukan suatu data pada suatu variabel, maka type data tersebut akan terbaca secara otomatis oleh python.

berikut akan di jelaskan beberapa type data yang umum digunakan

# Boolean

In [1]:
x = True
x, type(x)

(True, bool)

# Integer

In [2]:
x = 0
x, type(x)

(0, int)

# Float

In [3]:
x = 0.
x, type(x)

(0.0, float)

# String

In [4]:
x = 'a'
x, type(x)

('a', str)

In [5]:
x = "a"
x, type(x)

('a', str)

# Bytes

In [6]:
x = b'01'
x, type(x)

(b'01', bytes)

# List

In [7]:
x = ['c', 'a', 'b', 'e']
x, type(x)

(['c', 'a', 'b', 'e'], list)

# Tuple

In [8]:
x = ('c', 'a', 'b', 'e')
x, type(x)

(('c', 'a', 'b', 'e'), tuple)

# Set

In [9]:
x = {'c', 'a', 'b', 'e'}
x, type(x)

({'a', 'b', 'c', 'e'}, set)

# Dictionary

In [10]:
x = {'c':1, 'a':2, 'b':3, 'e':4}
x, type(x)

({'c': 1, 'a': 2, 'b': 3, 'e': 4}, dict)

# Dataframe

In [16]:
import pandas as pd

cars = {
    'Daftar Barang': [
        'Sabun',
        'Sampo',
        'Mie Instan',
        'Garam'
    ],
    'Price': [
        22000,
        25000,
        27000,
        35000
    ]
}

df = pd.DataFrame(cars)
df

  Daftar Barang  Price
0         Sabun  22000
1         Sampo  25000
2    Mie Instan  27000
3         Garam  35000